.about-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about-description {
    width: 670px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    font-size: 18px;
}

.about-description p {
    padding: 10px;
}

.about-description-title {
    font-size: 24px;
    font-weight: bold;
}

.about-cta {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

/* Less than 1024 px */
@media only screen and (max-width: 1024px) {
    .about-wrapper {
        margin-top: 0px;
    }

    .about-description {
        font-size: 14px;
    }
}

/* Less than 800 px */
@media only screen and (max-width: 800px) {
    .about-image {
        display: none;
    }

    .about-wrapper {
        text-align: center;
    }
}