.post-image {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 45px;
}

.post-image .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 15;
}

.post-image img,
.post-author-img img
 {
    width: 100%;
}

.post-image-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index: 10;
}

.post-author {
    position: relative;
    display: flex;
    width: 150px;
    margin: 40px 0px 0px 60px;
    z-index: 999;
}

.post-author-img {
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-right: 10px;
}

.post-author-info {
    padding-top: 6px;
    color: #fff;
    font-weight: bold;
}

.post-author-name {
    font-size: 15px;
}

.post-author-date {
    font-size: 13px;
}

.post-bottom {
    position: absolute;
    left: 60px;
    bottom: 45px;
    z-index: 999;
}

.post-bottom h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: none;
}

.post-details {
    display: flex;
    color: #fff;
    font-weight: 600;
    padding-top: 20px;
    font-size: 16px;
}

.separator::after {
  content: "-";
  margin-left: 5px;
  margin-right: 5px;
}

.post-container-wrapper {
    display: flex;
    justify-content: space-between;
}

.post-container-left {
    max-width: 65%;
}

.post-content {
    padding-bottom: 50px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    color: black;
    padding: 18px 0px;
}

.post-content h2 {
    font-size: 30px;
}

.post-content ul {
    list-style-type: disc;
    margin-left: 18px;
}

.post-content li {
    display: list-item;
}

.post-content a {
    color: #3D75AD;
}

.post-categories {
    height: 185px;
    display: flex;
    align-items: center;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    justify-content: space-between;
}

.post-writeen-by {
    display: flex;
    width: 198px;
}

.written-by-tag {
    color: #858585;
    font-size: 13px;
}

.written-author-name {
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

.post-categories-wrapper {
    display: flex;
}