:root {
    --white: #fff;
    --black: #000;
    --gv-blue: #3D75AD;
    --gv-green: #3DADAA;
    --gv-subtitle-gray: #D8D8D8;
    --gv-black-gray: #858585;
}

/* Post Image */

.post-image {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 45px;
}

.post-image h1 {
    font-family: "Inter", sans-serif;
}

.post-image .overlay,
.post-more-item .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 15;
}

.post-image img,
.post-author-img img
 {
    width: 100%;
}

.post-image-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index: 10;
}

.post-author {
    position: relative;
    display: flex;
    width: 150px;
    margin: 40px 0px 0px 60px;
    z-index: 999;
}

.post-author-img {
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-right: 10px;
}

.post-author-info {
    padding-top: 6px;
    color: var(--white);
    font-weight: bold;
}

.post-author-name {
    font-size: 15px;
}

.post-author-date {
    font-size: 13px;
}

.post-bottom {
    position: absolute;
    left: 60px;
    bottom: 45px;
    z-index: 999;
}

.post-bottom h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: none;
}

.post-details {
    display: flex;
    color: var(--white);
    font-weight: 600;
    padding-top: 20px;
    font-size: 16px;
}

.separator::after {
  content: "-";
  margin-left: 5px;
  margin-right: 5px;
}

/* Post Content */

.post-container-wrapper {
    display: flex;
    justify-content: space-between;
}

.post-container-left {
    max-width: 65%;
}

.post-content {
    padding-bottom: 50px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-family: "Inter", sans-serif;
    color: var(--black);
    padding: 18px 0px;
}

.post-content h2 {
    font-size: 30px;
}

.post-content ul {
    list-style-type: disc;
    margin-left: 18px;
}

.post-content li {
    display: list-item;
}

.post-content a {
    color: var(--gv-blue);
}

/* Post Categories */
.post-categories {
    height: 185px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--gv-subtitle-gray);
    border-bottom: 1px solid var(--gv-subtitle-gray);
    justify-content: space-between;
}

.post-writeen-by {
    display: flex;
    width: 198px;
}

.written-by-tag {
    color: var(--gv-black-gray);
    font-size: 13px;
}

.written-author-name {
    color: var(--black);
    font-size: 21px;
    font-weight: 600;
}

.written-author-name a {
    color: var(--black);
}

.post-categories-wrapper {
    display: flex;
}

.btn-category {
    padding: 15px 20px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 12px;
}

/* Post Tags */
.post-tags {
    padding: 30px 0px;
    border-bottom: 1px solid var(--gv-subtitle-gray);
}

.post-tags-wrapper {
    display: flex;
}

.btn-tag {
    padding: 5px 12px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--gv-subtitle-gray);
    color: var(--black);
}

/* Share Article */
.post-share {
    padding: 64px 0px;
}

.post-share-wrapper {
    display: flex;
    align-items: center;
}

.post-share-wrapper span {
    font-size: 24px;
    color: var(--gv-black-gray);
}

.post-share-icons-wrapper {
    margin-left: 12px;
}

.post-share-icons-wrapper a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.btn-share {
    color: var(--gv-blue);
    font-size: 42px;
}

/* Post More */
.post-more-item-wrapper {
    margin-top: 50px;
    margin-bottom: 60px;
}
.post-more-item {
    position: relative;
    width: 365px;
    height: 332px;
    overflow: hidden;
}

.post-more-item img {
    height: 100%;
}

.post-more-info,
.post-more-author {
    position: absolute;
    z-index: 999;
}